@using Microsoft.AspNet.Identity
@model TBP.Blog.Aplicacao.ViewModels.PostViewModel

@{
    ViewBag.Title = "Details";
}
<div class="col-md-9">
    <article class="panel panel-primary">
        <header class="panel panel-heading NoPadding">
            @Html.DataTitulo(i => Model.DataPostagem)

            <hgroup>
                <h1 class="panel-title">@Html.DisplayFor(i => Model.Titulo)</h1>
            </hgroup>
        </header>
        <section class="panel panel-body">
            @Html.DisplayFor(i => Model.Corpo)
        </section>
        <footer>
            <h5 class="panel-footer">
                @Html.SpanFor(i => Model.Tags)
                @foreach (var atag in Model.Tags)
                {
                    @Html.ActionLink(atag.Nome, "Tag", "Post", new { tag = atag.Nome, userId = atag.UserId }, new { @class = "label label-info" })
                }
                @{
                    var identity = HttpContext.Current.User.Identity.GetUserName();

                    if (identity.ToLower().Equals(Model.UserId.ToLower()))
                    {
                        @Html.ActionLink("Edit", "Edit", "Post", new { userId = Model.UserId, id = Model.IdPost }, new { @class = "btn btn-primary btn-xs pull-right" })
                    }

                }
            </h5>
        </footer>
    </article>
    @Html.Partial("_PartialComentarios")
</div>
@section scripts
{
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/FuncaoCometario")

}
